# 1. Nginxキャッシュ（Xアクセラレータ）をHTMLとJSONで無効化
SetEnvIf Request_URI "(\/|\.(html|htm|json))$" Ngx_Cache_NoCacheMode=on

# 2. ブラウザキャッシュの設定
<IfModule mod_headers.c>
    # HTML, JSON はキャッシュさせない、または再確認させる
    <FilesMatch "\.(html|htm|json)$">
        Header set Cache-Control "no-cache, no-store, must-revalidate"
        Header set Pragma "no-cache"
        Header set Expires 0
    </FilesMatch>
</IfModule>
